@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap");
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: "DM Sans", sans-serif;
}
.events {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 60px;
  margin: 20px 0px;
}
.single-event {
  background-color: #f4f7fe;
  width: 100%;
  margin: auto;
  align-items: center;
  border-radius: 15px;
  box-shadow: 6px 4px 20px 1px rgba(0, 0, 0, 0.25);
}
.single-image {
  width: 80%;
  align-items: center;
  text-align: center;
  justify-content: center;
  display: flex;
  margin: auto;
  overflow: hidden;
}
.event-cards {
  width: 100%;
  margin: auto;
  align-items: center;
  text-align: center;
  justify-content: center;
  display: flex;
  transition: all ease-out .4s;
}
.event-cards:hover{
  transform: scale(1.2);
}
.info {
  width: 88%;
  margin: auto;
  align-items: center;
  justify-content: center;
}
.info h5 {
  font-weight: 700;
  font-size: 25px;
  color: #2b3674;
  padding-bottom: 10px;
}
.info p {
  font-weight: 400;
  font-size: 18px;
  color: #717171;
}
.info h6 {
  font-weight: 400;
  font-size: 21px;
  color: #2b3674;
}
.date {
  display: flex;
  justify-content: space-between;
}
.date img {
  padding-left: 15px;
}
.single-upload {
  padding: 50px;
  background-color: #f4f7fe;
  border-radius: 15px;
  box-shadow: 6px 4px 20px 1px rgba(0, 0, 0, 0.25);
}
.upload {
  background: #fff;
}
.edit-uploads {
  padding-bottom: 20px;
  justify-content: flex-end;
  display: flex;
}
.upload {
  background: #fff;
  justify-content: center;
  align-items: center;
  margin: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  /* height: 50vh; */
  padding: 30px 0px;
}
.upload h5 {
  font-weight: 700;
  font-size: 28.6567px;
  color: #4318ff;
  padding: 5px 0px;
}
.upload p{
  font-weight: 500;
  font-size: 17.194px;
  color: #8f9bba;
  padding: 5px 0px;
}



@media (max-width: 768px) {
  .events {
    display: flex;
    flex-direction: column;
}
}
