@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap");
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: "DM Sans", sans-serif;
}
.received h4{
  font-weight: 500;
  font-size: 21px;
  color: #2b3674;
  padding-top: 20px;
}
table {
  border-collapse: collapse;
  width: 100%;
  justify-content: center;
  align-items: center;
}
th {
  text-align: left;
  padding: 25px 5px;
  color: #333333;
  font-weight: 400;
  font-size: 20.5047px;
  background: #f5f5f5;
  box-shadow: inset 0px -2.92925px 1px rgba(0, 0, 0, 0.25);
}
td {
  color: #333333;
  font-weight: 400;
  font-size: 15px;
  background: #ffffff;
  box-shadow: inset 0px -1.46462px 0px #e5e5e5;
  padding: 20px 5px;
  /* text-align: center; */
}
td button {
  background-color: blue;
  padding: 10px 15px;
  border: none;
  border-radius: 5.85849px;
  color: #ffffff;
}
.fragment{
  margin: 20px 0px;
}
.email {
  color: #6ad2ff;
}
.giving {
  margin-top: 50px;
}
.giving h4 {
  font-weight: 500;
  font-size: 21px;
  color: #2b3674;
  padding-top: 40px;
}
