@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap");
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: "DM Sans", sans-serif;
}
.livestream {
  padding-bottom: 10px;
  background-color: #ffffff;
}
.livestream h2 {
  font-weight: 500;
  font-size: 22px;
  color: #2b3674;
}
.stream {
  width: 100%;
  margin: 30px 0px;
  background-size: cover;
  border-radius: 20px;
  background-repeat: no-repeat;
  /* padding: 20px; */
}
.stream .live {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  position: relative;
}
.stream .mode {
  position: absolute;
  right: 50px;
  bottom: -80px;
  display: flex;
  gap: 20px;
}
.option {
  padding: 5px;
  background: #4318ff;
  font-size: 30px;
  border-radius: 50%;
  float: right;
  color: #ffffff;
  position: absolute;
  right: 50px;
  margin-top: 20px;
}
.audio {
  padding: 5px;
  background: #4318ff;
  font-size: 30px;
  border-radius: 50%;
  color: #ffffff;
}
.video {
  padding: 5px;
  background: #4318ff;
  font-size: 30px;
  border-radius: 50%;
  color: #ffffff;
}

.videos {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 35px;
  width: 100%;
  justify-content: space-between;
}

.each-video {
  width: 100%;
  background: #f4f7fe;
  box-shadow: 6px 4px 20px 1px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  padding: 20px;
  justify-content: center;
  margin: auto;
}
.each-video img {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.849);
}
.image {
  position: relative;
  height: 100%;
  width: 100%;
}
.image::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.596);
}
.each-content .play {
  position: absolute;
  font-size: 40px;
  font-weight: lighter;
  color: #ffffff;
  transform: translate(-10%, -30%);
  left: 50%;
  top: 50%;
  z-index: 99;
}
.each-content .text {
  display: flex;
  justify-content: space-between;
}
.each-content h6 {
  font-weight: 400;
  font-size: 14px;
  color: #2b3674;
}
.each-content .text h5 {
  font-weight: 500;
  font-size: 22px;
  color: #2b3674;
}
.each-content .text span {
  display: flex;
  font-weight: 400;
  font-size: 14px;
  color: #2b3674;
}
.each-content .date {
  display: flex;
  justify-content: space-between;
}
.each-content .delete {
  background: #d7a8a7;
  padding: 2px;
  border-radius: 50%;
  color: red;
  font-size: 30px;
}

@media (max-width: 1030px) {
  .videos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 35px;
    width: 100%;
    justify-content: space-between;
  }
}

@media (max-width: 768px) {
  .videos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 35px;
    width: 100%;
    justify-content: space-between;
  }
}
