@media (max-width: 1003px) {
  .row-two {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    gap: 20px;
    margin-top: 20px;
  }
  .row-three {
    grid-template-columns:1fr;

  }
  .subscibers {
    overflow-x: scroll;
}
}

@media (max-width: 768px) {
  .top-nav {
    display: block;
  }
  .side-nav {
    display: flex;
    flex-direction: column;
    background: #121212;
    width: 210px;
    position: fixed;
    left: 0;
    display: none;
    height: 100%;
  }
  .whole .main-ul {
    position: absolute;
    align-items: center;
    left: -100%;
    text-align: center;
    width: 40%;
    transition: 0.3s;
    height: 90vh;
    z-index: 1;
    background: rgb(0, 0, 0);
    overflow-y: scroll;
  }
  
  .whole .main-ul.active {
    left: 0%;
  }
  .container {
    padding-left: 0px;
    padding-top: 50px;
    z-index: 2;
  }
  .first-ul li {
    width: 100%;
    justify-content: center;
    text-align: center;
    display: flex;
    text-align: center;
    /* margin: 0px/; */
    display: flex;
  }
  .first-ul li a {
    width: 100%;
    border-bottom: none;
    text-align: center;
    align-items: center;
    margin: auto;
    text-align: center;
    padding-left: 5px;
    color: red;
    font-weight: 700;
    font-size: 26px;
    /* display: flex; */
  }

  /* for head */
  .headnav {
    display: flex;
    justify-content: space-between;
    padding-top: 60px;
    flex-direction: column-reverse;
  }
  .search {
    display: flex;
    align-items: center;
    background-color: #f4f7fe;
    padding: 15px;
    border-radius: 50px;
    width: 100%;
    /* margin-bottom: 10px; */
  }
  .search input {
    display: flex;
    align-items: center;
    background-color: #f4f7fe;
    border-radius: 50px;
    width: 100%;
  }

  /* for dashboard */
  .visit {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
  }
  .row-two {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    gap: 20px;
    margin-top: 20px;
  }
  .row-three {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    gap: 20px;
  }
  .title {
    display: flex;
    width: 100%;
    padding-bottom: 20px;
  }
  .blog-read h3 {
    width: 96%;
    
}

  /* for store */
}

@media (max-width: 540px) {
  .row-two {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 20px;
    margin-top: 20px;
  }
  .whole .main-ul {
    width: 70%;
  }
}
